.smallcaps {
    font-variant: small-caps;
}

.glossary {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

.note {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 7px;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    text-transform: uppercase;
    vertical-align: top;
}